a.button{
  background-color: pink;
  border: none;
  color: teal;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#item{
  background-color: orange;
  border: none;
  color: teal;
  width: 150px;
  height: 150px;
  padding: 0;
  margin: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
